<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo It!</title>
</head>
<body>
    <h1>It's already <%= now %> better get something done! </h1>
    <div class="todo-container">
        <form>
            <input type="text" placeholder="What should I get done?"/>
            <input type="submit"/>
        </form>
    </div>
</body>
</html>